<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.food.entity.User">
        INSERT INTO users (
            username, password, gender, styles,
            phone, email, address, avatar_file_name, created_at
        ) VALUES (
                     #{username}, #{password}, #{gender},
                     #{styles,typeHandler=com.food.handler.ListToStringTypeHandler},
                     #{phone}, #{email}, #{address}, #{avatarFileName},
                     NOW()
                 )
    </insert>

    <select id="selectByUsername" parameterType="String" resultType="com.food.entity.User">
        SELECT
            id, username, password, gender, styles,
            phone, email, address, avatar_file_name AS avatarFileName, created_at AS createdAt
        FROM users
        WHERE username = #{username}
    </select>

    <select id="countByUsername" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM users WHERE username = #{username}
    </select>

    <select id="countAllUsers" resultType="int">
        SELECT COUNT(*) FROM users
    </select>

    <select id="selectAllUsers" resultType="com.food.entity.User">
        SELECT id, username, email, phone, status, created_at FROM users ORDER BY created_at DESC
    </select>

    <update id="updateUserStatus">
        UPDATE users SET status = #{status} WHERE id = #{id}
    </update>

    <update id="updateAvatarByUsername">
        UPDATE users
        SET avatar_file_name = #{avatarFileName}
        WHERE username = #{username}
    </update>

    <update id="updateUser" parameterType="com.food.entity.User">
        UPDATE users
        SET
            username = #{username},
            phone = #{phone},
            email = #{email},
            gender = #{gender},
            address = #{address}
        WHERE id = #{id}
    </update>
</mapper>